<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RSAPIServerAddress" value="k12-r96-jh.milyli.net"/>
    <add key="RESTServerAddress" value="k12-r96-jh.milyli.net"/>
    <add key="AdminUsername" value="relativity.admin@relativity.com"/>
    <add key="AdminPassword" value="Test1234!"/>
    <add key="SQLServerAddress" value="k12-r96-jh.milyli.net"/>
    <add key="SQLUsername" value="sa"/>
    <add key="SQLPassword" value="z3phyr!"/>
    <add key="TestWorkspaceName" value="Gravity Integration Tests"/>
    <add key="ServerBindingType" value="https"/>
    <add key="TestWorkspaceTemplateName" value="kCura Starter Template"/>
    <!--If Debug is set to true then a workspace is not created or deleted and application is not installed.  Set to false for production-->
    <add key="Debug" value="false"/>
    <!--DebugWorkspaceId should be 0 if not used -->
    <add key="DebugWorkspaceId" value="1057859"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>